### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so

#Config
*.csv
*.tsv

#Cert
*.pem

# Logger
*.log

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### User defined
Thumbs.db
.vscode/
*.bak


